.App {  
  background-color: #282c34;
  min-height: 100vh;
  padding-left: 5em;
  padding-right: 5em;
  color: white;
}

.App-header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header h1 {
  font-size: calc(10px + 7vmin);
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* FieldPlaceholder will align all the div elements to the center */
.FieldPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.FieldPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UserInputFields {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

.UserInputFields > * {
  margin-right: 10px;
}

.SubmitButton {
  margin-bottom: 40px;
}

.OutputFields {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.OutputFields > * {
  margin-bottom: 5em;
}

/*Add a space between each .OuputField divs besides the last one*/
.OutputFields > *:not(:last-child) {
  margin-right: 10px;
}

/*On medium screens, the .OutputFields divs will be stacked on top of each other*/
@media (max-width: 950px) {
  .App-header h1 {
    font-size: 6vmin
  }
  h1 {
    font-size: 7vmin;
    margin-bottom: 0;
  }
  .OutputFields {
    flex-direction: column;
    width: auto;
  }
  .OutputFields > *:not(:last-child) {
    margin-bottom: 2em;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}